*
!salvium/
!salvium/contrib/
!salvium/contrib/depends/
!salvium/contrib/depends/patches/
!salvium/contrib/depends/patches/**
!salvium/contrib/depends/Makefile
!salvium/contrib/depends/*.mk
!salvium/contrib/depends/*.in
!salvium/contrib/depends/config.guess
!salvium/contrib/depends/config.sub
!salvium/contrib/depends/builders/
!salvium/contrib/depends/builders/**
!salvium/contrib/depends/hosts/
!salvium/contrib/depends/hosts/**
!salvium/contrib/depends/packages/
!salvium/contrib/depends/packages/**
